In [333]:
from pandas import read_csv
import pandas as pd
import statsmodels.formula.api as smf
import numpy as np
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

data=pd.read_csv('cleaned_data.csv')
print(data.keys())

Index(['Unnamed: 0', 'id', 'title', 'description', 'time1', 'time2', 'tags',
       'location', 'event'],
      dtype='object')

In [334]:
data=data.drop(['Unnamed: 0'],axis=1)
data.head(4)

,id,title,description,time1,time2,tags,location,event
0,361492738.0,Dan to the Right,"This is ...Dan, he was to the right. Dan took ...",2006-01-01 07:14:38.000,2006-01-01 22:14:46.000,"flickrmeetup , rochester , dan , totheright , ...",NaN,135961.0
1,361492799.0,Dan1,"We had another Flickr meetup in Rochester, the...",2006-01-01 07:14:51.000,2007-01-17 22:14:27.000,"flickrmeetup , rochester , dan , totheright , ...",NaN,135961.0
2,298736393.0,Flickrmeetup_01,<a href=http://www.flickr.com/photos/mikros/>M...,2006-01-01 08:46:37.000,2006-01-01 07:46:37.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862.0
3,298736445.0,Flickrmeetup_02,Our Latvian friend.,2006-01-01 08:46:46.000,2006-01-01 07:46:46.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862.0

In [335]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238289 entries, 0 to 238288
Data columns (total 8 columns):
id             238288 non-null float64
title          228552 non-null object
description    78167 non-null object
time1          237305 non-null object
time2          237305 non-null object
tags           237305 non-null object
location       89477 non-null object
event          237304 non-null float64
dtypes: float64(2), object(6)
memory usage: 14.5+ MB

In [336]:
data['event'].fillna(0, inplace=True)
data['event']=data['event'].astype(int)
data['location']=data['location'].fillna("l=0 n=0 a=0")
#data.head()
data['first'] = data['location'].str.split(' ',expand=True)[0]
data['second']=data['location'].str.split(' ',expand=True)[1]
data['third']=data['location'].str.split(' ',expand=True)[2]

data['longitude'] = data['first'].str.extract(r'(-?\d+\.?\d*)', expand=False)
data['latitude'] = data['second'].str.extract(r'(-?\d+\.?\d*)', expand=False)
data['accuracy'] = data['third'].str.extract(r'(-?\d+\.?\d*)', expand=False)
data=data.drop(['first'],axis=1)
data=data.drop(['second'],axis=1)
data=data.drop(['third'],axis=1)

data.head(10)

,id,title,description,time1,time2,tags,location,event,longitude,latitude,accuracy
0,361492738.0,Dan to the Right,"This is ...Dan, he was to the right. Dan took ...",2006-01-01 07:14:38.000,2006-01-01 22:14:46.000,"flickrmeetup , rochester , dan , totheright , ...",l=0 n=0 a=0,135961,0,0,0
1,361492799.0,Dan1,"We had another Flickr meetup in Rochester, the...",2006-01-01 07:14:51.000,2007-01-17 22:14:27.000,"flickrmeetup , rochester , dan , totheright , ...",l=0 n=0 a=0,135961,0,0,0
2,298736393.0,Flickrmeetup_01,<a href=http://www.flickr.com/photos/mikros/>M...,2006-01-01 08:46:37.000,2006-01-01 07:46:37.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862,-77.58403,43.15915,15
3,298736445.0,Flickrmeetup_02,Our Latvian friend.,2006-01-01 08:46:46.000,2006-01-01 07:46:46.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862,-77.58403,43.15915,15
4,298736527.0,Flickrmeetup_03,One of my first Flickr contacts <a href=http:/...,2006-01-01 08:46:54.000,2006-01-01 07:46:54.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862,-77.58403,43.15915,15
5,298736583.0,Flickrmeetup_04,Our Latvian friend.,2006-01-01 08:47:03.000,2006-01-01 07:47:03.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862,-77.58403,43.15915,15
6,298736638.0,Flickrmeetup_05,<a href=http://www.flickr.com/photos/danpb/>Da...,2006-01-01 08:47:12.000,2006-01-01 07:47:12.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862,-77.58403,43.15915,15
7,298736709.0,Flickrmeetup_06,"Help, this is what you get when you give someo...",2006-01-01 08:47:22.000,2006-01-01 07:47:22.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862,-77.58403,43.15915,15
8,298736781.0,Flickrmeetup_07,<a href=http://www.flickr.com/photos/jlam/>jla...,2006-01-01 08:47:32.000,2006-11-16 07:47:32.000,"rochester , ny , usa , flickrmeetup , king76 ,...",l=0 n=0 a=0,123862,0,0,0
9,298736848.0,Flickrmeetup_08,<a href=http://www.flickr.com/photos/haccamopo...,2006-01-01 08:47:41.000,2006-01-01 07:47:41.000,"rochester , ny , usa , flickrmeetup , king76 ,...",GeoData[longitude=-77.58403 latitude=43.15915 ...,123862,-77.58403,43.15915,15

In [337]:
test=data[1:100]
test1=test
test1.description=test1.description.astype(str)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [344]:
data.description=data.description.astype(str)

In [345]:
def get_corpus():
    corpus = []
    x=0
    for item in data.description:
        x+=1
        #if x%10000==0:print(x)
        if item!='nan':
            corpus.append(item)
    return corpus

In [352]:
corpus=get_corpus()
vectorizer=TfidfVectorizer()
x=vectorizer.fit_transform(corpus)
#corpus.head(10)

In [224]:
transformer = TfidfTransformer() #构建一个计算TF-IDF的玩意儿
tfidf = transformer.fit_transform(vectorizer.fit_transform(corpus))

In [227]:
tfidf

<78167x42851 sparse matrix of type '<class 'numpy.float64'>'
	with 834798 stored elements in Compressed Sparse Row format>

In [346]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

def tfidf():
    corpus=get_corpus()
    vectorizer=CountVectorizer(stop_words='english')
    #vectorizer.fit_transform(corpus)
    #corpus.head(10)
    transformer = TfidfTransformer() #构建一个计算TF-IDF的玩意儿
    tfidf = transformer.fit_transform(vectorizer.fit_transform(corpus))
    return tfidf

In [347]:
import math
def dot_product(v1, v2):
    return sum(a * b for a, b in zip(v1, v2))
def magnitude(vector):
    return math.sqrt(dot_product(vector, vector))
def similarityText(v1, v2):
    return dot_product(v1, v2) / (magnitude(v1) * magnitude(v2) + .00000000001)

In [348]:
similarity(a.toarray()[0],b.toarray()[0])

0.4326845758079696

In [349]:
stop_word=pd.read_csv('stopword.txt', header=None)
stop_word.columns=['words']
stopword=stop_word.words

In [350]:
tfidf_new=tfidf()

In [305]:
stop_word.columns=['words']

In [354]:
print(x[0])
print("----------")
print(tfidf_new[0])

  (0, 38645)	0.262237741794
  (0, 21692)	0.146034835487
  (0, 12413)	0.539606727576
  (0, 19617)	0.203032835128
  (0, 41327)	0.150534180648
  (0, 38958)	0.121162989106
  (0, 38462)	0.0766026595013
  (0, 33145)	0.227625459757
  (0, 39072)	0.203032835128
  (0, 20477)	0.0840516995928
  (0, 20491)	0.0840654461429
  (0, 42297)	0.111389750499
  (0, 16851)	0.136441348502
  (0, 10884)	0.0919286329738
  (0, 30237)	0.119555887715
  (0, 12464)	0.39715615527
  (0, 2892)	0.422457583631
  (0, 35213)	0.192767401322
----------
  (0, 12350)	0.593916904395
  (0, 32951)	0.250535439074
  (0, 38825)	0.223467623303
  (0, 20356)	0.09251130996
  (0, 20370)	0.0925264400689
  (0, 42011)	0.122600872853
  (0, 16757)	0.150173856612
  (0, 10825)	0.10118103858
  (0, 30047)	0.131588913009
  (0, 12401)	0.437129009416
  (0, 2892)	0.464976968385
  (0, 35011)	0.21216899718

In [359]:
data['des_tfidf']=-1
count=0
for i in data.iterrows():
    if i.description!="nan":
        i['des_tfidf']=count
        count+=1
data.head(10)

AttributeError: 'tuple' object has no attribute 'description'

In [ ]:
for i in data.iterrows():
    print(i[2])

In [ ]:
num=len(data)
data['des_tfidf']=-1
count=0
for i in range(0,num):
    if count%1000==0:print(count)
    if data.description[i]!="nan":
        data.des_tfidf[i]=count
        count+=1
data.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """